.jobCard {
  max-width:900px;
  margin:10px auto;
  background:#fff;
  border:1px solid #dce1e5;
  border-radius:9px;
  padding:18px;
  display:flex;
  align-items:center;
  justify-content:space-between
}
.jobCard span {
  font-size:9px;
  color:#cf8b16;
  background:#fff4dd;
  padding:3px 6px
}
.jobCard small {
  font-size:10px;
  color:#78838d;
  margin-left:8px
}
.jobCard h3 {
  font-size:17px;
  margin:8px 0 4px
}
.jobCard p {
  margin:0;
  font-size:11px
}
.jobCard a {
  background:#24568b;
  color:#fff;
  padding:10px 18px;
  border-radius:5px;
  font-size:11px;
  font-weight:700
}
@media(max-width:560px) {
  .jobCard {
    align-items:flex-start;
    gap:14px
  }
  .jobCard a {
    white-space:nowrap
  }
}
